body {
    background-color: #f0f0f0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%235a712d'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23b40000'/%3E%3Cstop offset='1' stop-color='%23433600'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='2'%3E%3Cpath transform='translate(0 0)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4' transform='rotate(0 800 450)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(0 0)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4'%3E%3Cpath transform='translate(0 0)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='8' transform='rotate(0 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='rotate(0 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: auto;
}

.bigHeader {
    text-align: center;
    margin-top: 50px;
}

.subHeader {
    text-align: center;
    margin-top: 50px;
}

.subHeaderHome {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.register {
    display: flex;
    justify-content: center;
    align-item: center
}

.list-btn-group {
    text-align: right;
    position: absolute !important;
    bottom: 10px !important;
    right: 10px !important;
}

.list-add-btn {

}

.list-edit-btn {
    font-size: 0.8rem !important;
    padding: 0 5px 3px !important;
    border-radius: 0.2rem !important;
}

.list-delete-btn {
    font-size: 0.8rem !important;
    padding: 0 5px 3px !important;
    border-radius: 0.2rem !important;
    /*position: absolute !important;
    bottom: 0% !important;
    right: 0% !important;*/
}

.plan-panel {
    padding: 5px;
    border: 1px solid #999;
}

.course-item {
    /* nested boxes */
    flex: 0 0 auto;
    width: calc(12.5% - 4px) !important;
    height: 100%;
    /* decorating */
    border-radius: 10px;
    /* drag style */
    cursor: move;
    border-bottom: 1px solid #333 !important;
    margin: 2px;
}

.course-item-left-sep {
    border-right: 1px solid #333 !important;
}

.course-item-right-sep {
    border-left: 1px solid #333 !important;
}

.disabled-course-item {
    /* nested boxes */
    flex: 0 0 auto;
    width: calc(12.5% - 4px) !important;
    height: 100%;
    cursor: not-allowed;
    margin: 2px;
    border: 0px !important;
}

.course-item-div {
    height: calc( 6vh - 12px );
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.course-item-btn-group {
    height: calc( 6vh - 12px );
    display: flex;
    justify-content: space-between;
    position: relative
}

.edit-btn {
    cursor: pointer;
    color: blue;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.delete-btn {
    cursor: pointer;
    color: red;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0%;
}

.plan-board {
    width: 100%;
    padding: 0px 3%;
}

.year-panel {
    position: relative;
    height: 126px;
    height: calc( 24vh - 42px );
}

.year-label {
    color: dodgerblue;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10%;
    font-size: 1.5rem;
}

.semester-panel {
    position: relative;
    text-align: center;
    padding-bottom: 15px;
}

.semester-label {
    color: dodgerblue;
    font-size: 1.5rem;
}

.degree-title {
    padding-left: 10% !important;
    margin-top: 30px !important;
    margin-bottom: 15px !important;
}

.justify-btn-group {
    height: 80px;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 0 50px;
}

.save-btn {
    cursor: pointer;
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 100px;
}

.cancel-btn {
    cursor: pointer;
    position: absolute;
    bottom: 0%;
    width: 100px;
}

.autocomplete-btn {
    cursor: pointer;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
}